<h1>Welcome to St|C|ockBlocker</h1>

<p>More short seller shame from reddit?</p>
<p>Just plain bad business in this utopia?</p>


<%= link_to 'Sign out', destroy_user_session_path, method: :delete %> 

